<div class="flex justify-center items-center h-screen -mt-20" [formGroup]="formGroup">
    <div class="flex flex-col w-1/4 min-w-fit max-w- space-y-4">
        <div>
            <div class="text-4xl font-bold">Welcome!</div>
            <div class="flex w-1/6 h-1 bg-blue-600"></div>
        </div>
        <div>
            <div class="block">User ID</div>
            <input class="w-full" type="text" pInputText formControlName="userid"/>
        </div>
        <div>
            <div class="block">Username</div>
            <input class="w-full" type="text" pInputText formControlName="username">
        </div>
        <div>
            <div class="block">Password</div>
            <p-password class="w-full" formControlName="password" [feedback]='false' [toggleMask]="true"></p-password>
        </div>
        <div>
            <div class="block">Repeat the password</div>
            <p-password class="w-full" formControlName="repeatPassword" [feedback]="false" [toggleMask]="true"></p-password>
        </div>
        <div>
            <p-button class="flex justify-end" size="small" label="Sign up" [disabled]="isInvalidForm()" [loading]="isLoading" (onClick)="onClickSignup()"/>
        </div>

        <div>
            <p-button class="flex justify-center text-button" label="Already have an account? Log in here" (onClick)="goPageLogin()"/>
        </div>
    </div>
</div>