<div class="flex w-full justify-center">
    <div class="flex w-full">
        <div class="flex w-1/4">
            <div class="w-1/6"></div>
            <div class="w-2/3">
                <div class="h-1 bg-blue-600"></div>
                <div>USER INFO</div>
            </div>
            <div class="w-1/6"></div>
        </div>
        <div class="w-1/2">
            <div class="h-1 bg-orange-600"></div>
            <flexy-posts [profileId]="profileId" [isMyOwn]="isMyOwn" ></flexy-posts>
        </div>
        <div class="flex w-1/4">
            <div class="w-1/6"></div>
            <div class="w-2/3">
                <div class="h-1 bg-green-600"></div>
            </div>
            <div class="w-1/6"></div>
        </div>
    </div>
</div>