<div class="flex justify-center items-center h-screen -mt-20" [formGroup]="formGroup">
    <div class="flex flex-col w-1/4 min-w-fit max-w- space-y-4">
        <div>
            <div class="text-4xl font-bold no-select">Welcome!</div>
            <div class="flex w-1/6 h-1 bg-blue-600"></div>
        </div>
        <div>
            <div class="block no-select">User ID</div>
            <input class="w-full" type="text" pInputText formControlName="userid"/>
        </div>
        <div>
            <div class="block no-select">Password</div>
            <p-password class="w-full" formControlName="password" [feedback]="false" [toggleMask]="true"></p-password>
        </div>
        <div>
            <p-button class="flex justify-end" size="small" label="Log in" [disabled]="isInvalidForm()" [loading]="isLoading" (onClick)="onCLickLogin()"/>
        </div>

        <div>
            <p-button class="flex justify-center text-button" label="Create a new account here" (onClick)="goPageSignup()"/>
        </div>
    </div>
</div>